.icon-size-md {
    font-size: 1.2rem;
}

.icon-size-md-large {
    font-size: 1.5rem;
}


.icon-size-md.secondary span {
    color: black
}

/*<-------------------------------------------------------- COLOR PALLET ----------------------------------------------->*/

.main-background{
    background-color: #f1f1f1!important;
}

.white-background{
    background-color: white!important;
}

/*<-------------------- PRIMARY ---------------------->*/
.primary-light-bg-action {
    background-color: rgb(186, 215, 186) !important;
}

.primary-light-bg-action:hover {
    background-color: rgb(222, 236, 222) !important;
}

.primary-light-bg-action:active {
    background-color: rgb(233, 242, 233) !important;
}

.primary-bg-action {
    background-color: rgb(32, 125, 32) !important;
}

.primary-bg-action:hover {
    background-color: rgb(29, 113, 29) !important;
}

.primary-bg-action:active {
    background-color: rgb(26, 100, 26) !important;
}

.primary-dark-bg-action {
    background-color: rgb(24, 94, 24) !important;
}

.primary-dark-bg-action:hover {
    background-color: rgb(19, 75, 19) !important;
}

.primary-dark-bg-action:active {
    background-color: rgb(14, 56, 14) !important;
}

.primary-darker-bg-action {
    background-color: rgb(11, 44, 11) !important;
}



.primary-light-bg {
    background-color: rgb(233, 242, 233) !important;
}

.primary-light-bg-hover {
    background-color: rgb(222, 236, 222) !important;
}

.primary-light-bg-active {
    background-color: rgb(186, 215, 186) !important;
}

.primary-bg {
    background-color: rgb(32, 125, 32) !important;
}

.primary-bg-hover {
    background-color: rgb(29, 113, 29) !important;
}

.primary-bg-active {
    background-color: rgb(26, 100, 26) !important;
}

.primary-dark-bg {
    background-color: rgb(24, 94, 24) !important;
}

.primary-dark-bg-hover {
    background-color: rgb(19, 75, 19) !important;
}

.primary-dark-bg-active {
    background-color: rgb(14, 56, 14) !important;
}

.primary-darker-bg {
    background-color: rgb(11, 44, 11) !important;
}



.primary-light {
    color: rgb(233, 242, 233) !important;
}

.primary-light-hover {
    color: rgb(222, 236, 222) !important;
}

.primary-light-active {
    color: rgb(186, 215, 186) !important;
}

.primary {
    color: rgb(32, 125, 32) !important;
}

.primary-hover {
    color: rgb(29, 113, 29) !important;
}

.primary-active {
    color: rgb(26, 100, 26) !important;
}

.primary-dark {
    color: rgb(24, 94, 24) !important;
}

.primary-dark-hover {
    color: rgb(19, 75, 19) !important;
}

.primary-dark-active {
    color: rgb(14, 56, 14) !important;
}

.primary-darker {
    color: rgb(11, 44, 11) !important;
}

/*<-------------------- BLACK ---------------------->*/
.black-light-bg-action {
    background-color: rgb(232, 232, 232) !important;
}

.black-light-bg-action:hover {
    background-color: rgb(221, 221, 221) !important;
}

.black-light-bg-action:active {
    background-color: rgb(185, 185, 185) !important;
}

.black-bg-action {
    background-color: rgb(28, 28, 28) !important;
}

.black-bg-action:hover {
    background-color: rgb(25, 25, 25) !important;
}

.black-bg-action:active {
    background-color: rgb(22, 22, 22) !important;
}

.black-dark-bg-action {
    background-color: rgb(21, 21, 21) !important;
}

.black-dark-bg-action:hover {
    background-color: rgb(17, 17, 17) !important;
}

.black-dark-bg-action:active {
    background-color: rgb(13, 13, 13) !important;
}

.black-darker-bg-action {
    background-color: rgb(10, 10, 10) !important;
}


.black-light-bg {
    background-color: rgb(232, 232, 232) !important;
}

.black-light-bg-hover {
    background-color: rgb(221, 221, 221) !important;
}

.black-light-bg-active {
    background-color: rgb(185, 185, 185) !important;
}

.black-bg {
    background-color: rgb(28, 28, 28) !important;
}

.black-bg-hover {
    background-color: rgb(25, 25, 25) !important;
}

.black-bg-active {
    background-color: rgb(22, 22, 22) !important;
}

.black-dark-bg {
    background-color: rgb(21, 21, 21) !important;
}

.black-dark-bg-hover {
    background-color: rgb(17, 17, 17) !important;
}

.black-dark-bg-active {
    background-color: rgb(13, 13, 13) !important;
}

.black-darker-bg {
    background-color: rgb(10, 10, 10) !important;
}


.black-light {
    color: rgb(232, 232, 232) !important;
}

.black-light-hover {
    color: rgb(221, 221, 221) !important;
}

.black-light-active {
    color: rgb(185, 185, 185) !important;
}

.black {
    color: rgb(28, 28, 28) !important;
}

.black-hover {
    color: rgb(25, 25, 25) !important;
}

.black-active {
    color: rgb(22, 22, 22) !important;
}

.black-dark {
    color: rgb(21, 21, 21) !important;
}

.black-dark-hover {
    color: rgb(17, 17, 17) !important;
}

.black-dark-active {
    color: rgb(13, 13, 13) !important;
}

.black-darker {
    color: rgb(10, 10, 10) !important;
}


/*<-------------------- GREY ---------------------->*/
.grey-light-bg-action {
    background-color: rgb(247, 247, 247) !important;
}

.grey-light-bg-action:hover {
    background-color: rgb(243, 243, 243) !important;
}

.grey-light-bg-action:active {
    background-color: rgb(230, 231, 230) !important;
}

.grey-bg-action {
    background-color: rgb(175, 176, 175) !important;
}

.grey-bg-action:hover {
    background-color: rgb(158, 158, 158) !important;
}

.grey-bg-action:active {
    background-color: rgb(140, 141, 140) !important;
}

.grey-dark-bg-action {
    background-color: rgb(131, 132, 131) !important;
}

.grey-dark-bg-action:hover {
    background-color: rgb(105, 106, 105) !important;
}

.grey-dark-bg-action:active {
    background-color: rgb(79, 79, 79) !important;
}

.grey-darker-bg-action {
    background-color: rgb(61, 62, 61) !important;
}


.grey-light-bg {
    background-color: #f7f7f7!important;
}

.grey-light-bg-hover {
    background-color: rgb(243, 243, 243) !important;
}

.grey-light-bg-active {
    background-color: rgb(230, 231, 230) !important;
}

.grey-bg {
    background-color: rgb(175, 176, 175) !important;
}

.grey-bg-hover {
    background-color: rgb(158, 158, 158) !important;
}

.grey-bg-active {
    background-color: rgb(140, 141, 140) !important;
}

.grey-dark-bg {
    background-color: rgb(131, 132, 131) !important;
}

.grey-dark-bg-hover {
    background-color: rgb(105, 106, 105) !important;
}

.grey-dark-bg-active {
    background-color: rgb(79, 79, 79) !important;
}

.grey-darker-bg {
    background-color: rgb(61, 62, 61) !important;
}


.grey-light {
    color: rgb(247, 247, 247) !important;
}

.grey-light-hover {
    color: rgb(243, 243, 243) !important;
}

.grey-light-active {
    color: rgb(230, 231, 230) !important;
}

.grey {
    color: rgb(175, 176, 175) !important;
}

.grey-hover {
    color: rgb(158, 158, 158) !important;
}

.grey-active {
    color: rgb(140, 141, 140) !important;
}

.grey-dark {
    color: rgb(131, 132, 131) !important;
}

.grey-dark-hover {
    color: rgb(105, 106, 105) !important;
}

.grey-dark-active {
    color: rgb(79, 79, 79) !important;
}

.grey-darker {
    color: rgb(61, 62, 61) !important;
}


/*<-------------------- ERROR ---------------------->*/
.error-light-bg-action {
    background-color: rgb(254, 233, 233) !important;
}

.error-light-bg-action:hover {
    background-color: rgb(254, 222, 222) !important;
}

.error-light-bg-action:active {
    background-color: rgb(253, 186, 186) !important;
}

.error-bg-action {
    background-color: rgb(249, 32, 32) !important;
}

.error-bg-action:hover {
    background-color: rgb(224, 29, 29) !important;
}

.error-bg-action:active {
    background-color: rgb(199, 26, 26) !important;
}

.error-dark-bg-action {
    background-color: rgb(187, 24, 24) !important;
}

.error-dark-bg-action:hover {
    background-color: rgb(149, 19, 19) !important;
}

.error-dark-bg-action:active {
    background-color: rgb(112, 14, 14) !important;
}

.error-darker-bg-action {
    background-color: rgb(87, 11, 11) !important;
}


.error-light-bg {
    background-color: rgb(254, 233, 233) !important;
}

.error-light-bg-hover {
    background-color: rgb(254, 222, 222) !important;
}

.error-light-bg-active {
    background-color: rgb(253, 186, 186) !important;
}

.error-bg {
    background-color: rgb(249, 32, 32) !important;
}

.error-bg-hover {
    background-color: rgb(224, 29, 29) !important;
}

.error:active {
    background-color: rgb(199, 26, 26) !important;
}

.error-dark-bg {
    background-color: rgb(187, 24, 24) !important;
}

.error-dark-bg-hover {
    background-color: rgb(149, 19, 19) !important;
}

.error-dark-bg-active {
    background-color: rgb(112, 14, 14) !important;
}

.error-darker-bg {
    background-color: rgb(87, 11, 11) !important;
}


.error-light {
    color: rgb(254, 233, 233) !important;
}

.error-light-hover {
    color: rgb(254, 222, 222) !important;
}

.error-light-active {
    color: rgb(253, 186, 186) !important;
}

.error {
    color: rgb(249, 32, 32) !important;
}

.error-hover {
    color: rgb(224, 29, 29) !important;
}

.error-active {
    color: rgb(199, 26, 26) !important;
}

.error-dark {
    color: rgb(187, 24, 24) !important;
}

.error-dark-hover {
    color: rgb(149, 19, 19) !important;
}

.error-dark-active {
    color: rgb(112, 14, 14) !important;
}

.error-darker {
    color: rgb(87, 11, 11) !important;
}


/*<-------------------- SUCCESS ---------------------->*/
.success-light-bg-action {
    background-color: rgb(233, 250, 230) !important;
}

.success-light-bg-action:hover {
    background-color: rgb(222, 247, 218) !important;
}

.success-light-bg-action:active {
    background-color: rgb(186, 239, 178) !important;
}

.success-bg-action {
    background-color: rgb(34, 203, 6) !important;
}

.success-bg-action:hover {
    background-color: rgb(31, 183, 5) !important;
}

.success-bg-action:active {
    background-color: rgb(27, 162, 5) !important;
}

.success-dark-bg-action {
    background-color: rgb(26, 152, 5) !important;
}

.success-dark-bg-action:hover {
    background-color: rgb(20, 122, 4) !important;
}

.success-dark-bg-action:active {
    background-color: rgb(15, 91, 3) !important;
}

.success-darker-bg-action {
    background-color: rgb(12, 71, 2) !important;
}


.success-light-bg {
    background-color: rgb(233, 250, 230) !important;
}

.success-light-bg-hover {
    background-color: rgb(222, 247, 218) !important;
}

.success-light-bg-active {
    background-color: rgb(186, 239, 178) !important;
}

.success-bg {
    background-color: rgb(34, 203, 6) !important;
}

.success-bg-hover {
    background-color: rgb(31, 183, 5) !important;
}

.success-bg-active {
    background-color: rgb(27, 162, 5) !important;
}

.success-dark-bg {
    background-color: rgb(26, 152, 5) !important;
}

.success-dark-bg-hover {
    background-color: rgb(20, 122, 4) !important;
}

.success-dark-bg-active {
    background-color: rgb(15, 91, 3) !important;
}

.success-darker-bg {
    background-color: rgb(12, 71, 2) !important;
}


.success-light {
    color: rgb(233, 250, 230) !important;
}

.success-light-hover {
    color: rgb(222, 247, 218) !important;
}

.success-light-active {
    color: rgb(186, 239, 178) !important;
}

.success {
    color: rgb(34, 203, 6) !important;
}

.success-hover {
    color: rgb(31, 183, 5) !important;
}

.success-active {
    color: rgb(27, 162, 5) !important;
}

.success-dark {
    color: rgb(26, 152, 5) !important;
}

.success-dark-hover {
    color: rgb(20, 122, 4) !important;
}

.success-dark-active {
    color: rgb(15, 91, 3) !important;
}

.success-darker {
    color: rgb(12, 71, 2) !important;
}


/*<-------------------- WARNING ---------------------->*/
.warning-light-bg-action {
    background-color: rgb(251, 244, 230) !important;
}

.warning-light-bg-action:hover {
    background-color: rgb(249, 239, 218) !important;
}

.warning-light-bg-action:active {
    background-color: rgb(243, 221, 178) !important;
}

.warning-bg-action {
    background-color: rgb(217, 145, 5) !important;
}

.warning-bg-action:hover {
    background-color: rgb(195, 131, 5) !important;
}

.warning-bg-action:active {
    background-color: rgb(174, 116, 4) !important;
}

.warning-dark-bg-action {
    background-color: rgb(163, 109, 4) !important;
}

.warning-dark-bg-action:hover {
    background-color: rgb(130, 87, 3) !important;
}

.warning-dark-bg-action:active {
    background-color: rgb(98, 65, 2) !important;
}

.warning-darker-bg-action {
    background-color: rgb(76, 51, 2) !important;
}


.warning-light-bg {
    background-color: rgb(251, 244, 230) !important;
}

.warning-light-bg-hover {
    background-color: rgb(249, 239, 218) !important;
}

.warning-light-bg-active {
    background-color: rgb(243, 221, 178) !important;
}

.warning-bg {
    background-color: rgb(217, 145, 5) !important;
}

.warning-bg-hover {
    background-color: rgb(195, 131, 5) !important;
}

.warning-bg-active {
    background-color: rgb(174, 116, 4) !important;
}

.warning-dark-bg {
    background-color: rgb(163, 109, 4) !important;
}

.warning-dark-bg-hover {
    background-color: rgb(130, 87, 3) !important;
}

.warning-dark-bg-active {
    background-color: rgb(98, 65, 2) !important;
}

.warning-darker-bg {
    background-color: rgb(76, 51, 2) !important;
}


.warning-light {
    color: rgb(251, 244, 230) !important;
}

.warning-light-hover {
    color: rgb(249, 239, 218) !important;
}

.warning-light-active {
    color: rgb(243, 221, 178) !important;
}

.warning {
    color: rgb(217, 145, 5) !important;
}

.warning-hover {
    color: rgb(195, 131, 5) !important;
}

.warning-active {
    color: rgb(174, 116, 4) !important;
}

.warning-dark {
    color: rgb(163, 109, 4) !important;
}

.warning-dark-hover {
    color: rgb(130, 87, 3) !important;
}

.warning-dark-active {
    color: rgb(98, 65, 2) !important;
}

.warning-darker {
    color: rgb(76, 51, 2) !important;
}



/*<---------------------------------------- TEXT ------------------------------------------>*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: 'Mulish', sans-serif !important;
}