<div class="container-fluid px-4">
    <div class="row">

        <div class="col-8">
            <div class="card border-0 h-100">

                <div class="card-body">
                    <div class="row pb-4 pt-3">

                        <div class="col">
                            <label for="checkNumberInput" class="form-label">Check Number</label>
                            <input type="text" class="form-control form-control-lg border border-dark"
                                id="checkNumberInput" aria-label="Account number">
                        </div>

                        <div class="col">
                            <label for="checkAmountInput" class="form-label">Check Amount</label>
                            <input type="text" class="form-control form-control-lg border border-dark"
                                id="checkAmountInput" aria-label="Bank">
                        </div>

                    </div>

                    <div class="row pb-4">

                        <div class="col">
                            <label for="recipientBankInput" class="form-label">Recipient Bank</label>
                            <input type="text" class="form-control form-control-lg border border-dark"
                                id="recipientBankInput" aria-label="Amount">
                        </div>

                        <div class="col">
                            <label for="descriptionInput" class="form-label">Description</label>
                            <input type="text" class="form-control form-control-lg border border-dark"
                                id="descriptionInput" aria-label="Pin">
                        </div>

                    </div>
                    <h5 class="card-title pb-2 fw-semibold">Split Amount <span
                            class="text-muted fw-light">(Optional)</span></h5>
                    <div class="row pb-4">

                        <div class="col">
                            <label for="checkingsInput" class="form-label">Checkings</label>
                            <input type="text" class="form-control form-control-lg border border-dark"
                                id="checkingsInput" aria-label="Amount">
                        </div>

                        <div class="col">
                            <label for="savingsInput" class="form-label">Savings</label>
                            <input type="text" class="form-control form-control-lg border border-dark" id="savingsInput"
                                aria-label="Pin">
                        </div>

                    </div>

                    <div class="row py-4">
                        <div class="col text-center">
                            <button button type="button" class="btn btn-light primary-bg btn-lg w-50"><span
                                    class="grey-light">Submit</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card white-background border-0 h-100">
                <div class="card-header white-background">
                    <h4 class="text-center pt-4">Daily Limit: <b>$50,000</b></h4>
                </div>
                <div class="card-body">
                    <div class="py-3">
                        <div class="d-flex justify-content-between">
                            <p class="primary-active mb-1">$2000</p>
                            <p class="primary-active mb-1">$48000</p>
                        </div>
                        <ngb-progressbar [value]="2000" height="33px" [max]="50000"></ngb-progressbar>
                        <div class="d-flex justify-content-between pt-1">
                            <span>Spent</span>
                            <span>Remainder</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto pt-5">
        <h3 class="pb-2 ps-0">Deposit History</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="primary-light-bg-active">Date</th>
                    <th scope="col" class="primary-light-bg-active">Transfer From</th>
                    <th scope="col" class="primary-light-bg-active">Transfer To</th>
                    <th scope="col" class="primary-light-bg-active">Amount</th>
                    <th scope="col" class="primary-light-bg-active">Status</th>
                </tr>
            </thead>
            <tbody class="gray-light-bg ">
                <tr>
                    <td>02/07/2023</td>
                    <td>Lummie_bels</td>
                    <td>Lummie_bels</td>
                    <td class="success-dark-hover">+$5,000</td>
                    <td><span class="badge primary-light-bg py-2 fw-light fs-6 black">Success</span></td>
                </tr>
                <tr>
                    <td>01/07/2023</td>
                    <td>Adedeji Onis</td>
                    <td>Adedeji Onis</td>
                    <td class="success-dark-hover">+$10,000</td>
                    <td><span class="badge primary-light-bg py-2 fw-light fs-6 black">Success</span></td>
                </tr>
                <tr>
                    <td>01/07/2023</td>
                    <td>Adedeji Onis</td>
                    <td>Adedeji Onis</td>
                    <td class="success-dark-hover">+$10,000</td>
                    <td><span class="badge primary-light-bg py-2 fw-light fs-6 black">Success</span></td>
                </tr>
                <tr>
                    <td>01/07/2023</td>
                    <td>Adedeji Onis</td>
                    <td>Adedeji Onis</td>
                    <td class="success-dark-hover">+$10,000</td>
                    <td><span class="badge primary-light-bg py-2 fw-light fs-6 black">Success</span></td>
                </tr>
                <tr>
                    <td>01/07/2023</td>
                    <td>Adedeji Onis</td>
                    <td>Adedeji Onis</td>
                    <td class="success-dark-hover">+$10,000</td>
                    <td><span class="badge primary-light-bg py-2 fw-light fs-6 black">Success</span></td>
                </tr>
            </tbody>
        </table>
        <nav class="">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link main-background border-0 black fw-bold">1</a></li>
                <li class="page-item"><a class="page-link main-background border-0 black fw-bold">2</a></li>
                <li class="page-item"><a class="page-link main-background border-0 black fw-bold">3</a></li>
            </ul>
        </nav>
    </div>
</div>