<div class="grid grid-cols-12 overflow-hidden">
  <div class="hidden h-screen lg:block lg:col-span-2 overflow-auto">
    <app-side-bar></app-side-bar>
  </div>
  <div class="h-screen bg-lightgray col-span-12 lg:col-span-10 overflow-x-hidden overflow-y-auto">
    <nav class="shadow-sm bg-white">
      <div class="container mx-auto flex justify-between items-center py-6">
        <div>
          <h1 class="font-mulish text-2xl font-bold">
            {{headerText}}
          </h1>
            <p class="font-mulish font-semibold text-lg text-slate-600 inline me-6" *ngIf="isClientRoute">{{checkingAccountNum}}</p>
            <p class="font-mulish font-semibold text-lg text-slate-600 inline" *ngIf="isClientRoute">{{savingsAccountNum}}</p>
        </div>
        <div>
          <img src="../../../assets/me.png" class="rounded-full h-9 w-9" alt="...">
        </div>
      </div>
    </nav>
    <div class="container mx-auto pt-14">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>