<h1 class="font-mulish text-2xl font-bold mb-10">{{5000| currency:'NGN': true}}</h1>
<div class="grid lg:grid-cols-12 lg:gap-x-4 gap-y-3 lg:gap-y-0">

  <div class="lg:col-span-8">
    <div class="bg-white rounded-lg h-full">

      <div class="bg-white pt-10 border-b border-slate-300 rounded-t-lg flex justify-around">

        <ul class="flex flex-col md:flex-row lg:flex-wrap text-base text-center pl-0 mb-0" id="default-tab"
          data-tabs-toggle="#default-tab-content"
          data-tabs-active-classes="text-primaryGreen border-primaryGreen font-bold" role="tablist">

          <li class="md:me-2" role="presentation">
            <button class="inline-block px-4 pt-4 pb-2 border-b-2 rounded-t-lg" id="domesticTransfer-tab"
              data-tabs-target="#domesticTransfer" type="button" role="tab" aria-controls="domesticTransfer"
              aria-selected="true">Domestic Transfer</button>
          </li>
          <li role="presentation">
            <button
              class="inline-block px-4 pt-4 pb-2  border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="internationalTransfer-tab" data-tabs-target="#internationalTransfer" type="button" role="tab"
              aria-controls="internationalTransfer" aria-selected="false">International Transfer</button>
          </li>
          <li role="presentation">
            <button
              class="inline-block px-4 pt-4 pb-2  border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="interbankTransfer-tab" data-tabs-target="#interbankTransfer" type="button" role="tab"
              aria-controls="interbankTransfer" aria-selected="false">Interbank Transfer</button>
          </li>
        </ul>
      </div>

      <div class="p-6 overflow-y-auto" id="default-tab-content">

        <div class="hidden" id="domesticTransfer" role="tabpanel" aria-labelledby="domesticTransfer-tab">
          <form>
            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-6">

              <div>
                <label for="domAccountInput" class="font-mulish font-medium text-sm block mb-2">Recipient Account
                  Number</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="domAccountInput" aria-label="Account number">
              </div>

              <div>
                <label for="domBankInput" class="font-mulish font-medium text-sm block mb-2">Recipient Bank</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="domBankInput" aria-label="Bank">
              </div>

            </div>

            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-6">

              <div>
                <label for="domAmountInput" class="font-mulish font-medium text-sm block mb-2">Amount</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="domAmountInput" aria-label="Amount">
              </div>

              <div>
                <label for="domPinInput" class="font-mulish font-medium text-sm block mb-2">Pin</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="domPinInput" aria-label="Pin">
              </div>

            </div>

            <div class="flex items-center pb-8">
              <input class="border-dark border-2 py-2 px-2 me-2 rounded" type="checkbox" value=""
                id="domAddBeneficiary">
              <label class="text-base font-mulish font-medium" for="domAddBeneficiary">
                Add to Beneficiary
              </label>
            </div>

            <div class="text-center">
              <button button type="submit"
                class="w-80 h-14 bg-primaryGreen rounded-md font-mulish text-white font-bold text-xl hover:bg-primaryGreenHover">Submit</button>
            </div>
          </form>
        </div>


        <div class="hidden" id="internationalTransfer" role="tabpanel" aria-labelledby="internationalTransfer-tab">
          <form>
            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-6">

              <div>
                <label for="interAccountInput" class="font-mulish font-medium text-sm block mb-2">Recipient Account
                  Number</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="interAccountInput" aria-label="Account number">
              </div>

              <div>
                <label for="interBankInput" class="font-mulish font-medium text-sm block mb-2">Recipient Bank</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="interBankInput" aria-label="Bank">
              </div>

            </div>

            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-6">

              <div>
                <label for="interAmountInput" class="font-mulish font-medium text-sm block mb-2">Amount</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="interAmountInput" aria-label="Amount">
              </div>

              <div>
                <label for="interPinInput" class="font-mulish font-medium text-sm block mb-2">Pin</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="interPinInput" aria-label="Pin">
              </div>

            </div>

            <div class="grid lg:grid-cols-2 mb-6">
              <div class="col-span-1">



                <div data-popover id="popover-description" role="tooltip"
                  class="absolute z-10 invisible inline-block transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72">
                  <p class="font-mulish text-base font-normal p-2.5 mb-0">Selecting the preferred currency, the
                    converted price will automatically display on the receiver's
                    get's input.</p>
                </div>

                <label for="interRate" class="font-mulish font-medium text-sm pb-2.5 flex items-center">Recipient
                  Gets<button data-popover-target="popover-description" data-popover-placement="top" type="button"><svg
                      class="w-4 h-4 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"></path>
                    </svg><span class="sr-only">Show information</span></button></label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="rate" aria-label="interRate">
              </div>
            </div>

            <div class="flex items-center pb-8">
              <input class="border-dark border-2 py-2 px-2 me-2 rounded" type="checkbox" value=""
                id="interAddBeneficiary">
              <label class="text-base font-mulish font-medium" for="interAddBeneficiary">
                Add to Beneficiary
              </label>
            </div>

            <div class="text-center">
              <button button type="submit"
                class="w-80 h-14 bg-primaryGreen rounded-md font-mulish text-white font-bold text-xl hover:bg-primaryGreenHover">Submit</button>
            </div>

          </form>
        </div>


        <div class="hidden" id="interbankTransfer" role="tabpanel" aria-labelledby="interbankTransfer-tab">
          <form>
            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-6">

              <div>
                <label for="intraAccountInput" class="font-mulish font-medium text-sm block mb-2">Transfer From</label>
                <select type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="intraAccountInput" aria-label="Account number">
                  <option value="">Select Account</option>
                  <option value="0427541108">0427541108</option>
                  <option value="0427541108">0427541108</option>
                </select>
              </div>

              <div>
                <label for="intraBankInput" class="font-mulish font-medium text-sm block mb-2">Transfer To</label>
                <select type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="intraBankInput" aria-label="Bank">
                  <option value="">Select Account</option>
                  <option value="0427541108">0427541108</option>
                  <option value="0427541108">0427541108</option>
                </select>
              </div>

            </div>

            <div class="grid lg:grid-cols-2 gap-y-3 lg:gap-x-4 mb-8">

              <div>
                <label for="intraAmountInput" class="font-mulish font-medium text-sm block mb-2">Amount</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="intraAmountInput" aria-label="Amount">
              </div>

              <div>
                <label for="intraPinInput" class="font-mulish font-medium text-sm block mb-2">Pin</label>
                <input type="text"
                  class="border border-black block w-full rounded-md h-12 focus:ring-4 focus:ring-primaryGreenLightActive"
                  id="intraPinInput" aria-label="Pin">
              </div>

            </div>

            <div class="text-center">
              <button button type="submit"
                class="w-80 h-14 bg-primaryGreen rounded-md font-mulish text-white font-bold text-xl hover:bg-primaryGreenHover">Submit</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="lg:col-span-4">
    <div class="bg-white rounded-lg h-full">
      <div class="bg-white pt-10 pb-3.5 border-b border-slate-300 rounded-t-lg">
        <h4 class="text-center font-mulish font-semibold text-2xl">Daily Limit: <b>{{50000| currency:'NGN': true}}</b></h4>
      </div>
      <div class="p-6">
        <div class="py-3.5">
          <div class="flex justify-between">
            <p class="text-primaryGreenActive font-mulish font-normal text-sm mb-1">{{2000| currency:'NGN': true}}</p>
            <p class="text-primaryGreenActive font-mulish font-normal text-sm mb-1">{{48000| currency:'NGN': true}}</p>
          </div>
          <div class="w-full h-8 bg-gray-200 rounded-md">
            <div class="h-8 bg-primaryGreenLightActive rounded-md" style="width: 25%"></div>
          </div>
          <div class="flex justify-between pt-1">
            <p class="font-mulish font-normal text-sm mb-0">Spent</p>
            <p class="font-mulish font-normal text-sm mb-0">Remainder</p>
          </div>
        </div>


        <h5 class="font-bold font-mulish text-2xl pt-10 pb-3.5">Beneficiary</h5>

        <div class="overflow-y-auto max-h-40">

          <div class="flex bg-primaryGreenLight rounded-md mb-2 p-1.5">
            <div class="shrink-0 ms-2">
              <img src="../../../assets/me.png" class="rounded-full me-2" alt="...">
            </div>
            <div class="grow ms-1 self-center">
              <p class="mb-0 fw-bold">Timi Banks</p>
              <p class="mb-1">0567543256</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="grid gap-y-4 py-12">
  <h3 class="font-mulish text-2xl font-semibold">Transaction History</h3>
  <div class="overflow-x-auto">
    <table class="w-full text-base font-mulish">
      <thead class="text-base font-semibold text-gray-700 capitalize bg-primaryGreenLightHover">
        <tr>
          <th scope="col" class="px-6 py-3">
            Date
          </th>
          <th scope="col" class="px-6 py-3">
            Transfer From
          </th>
          <th scope="col" class="px-6 py-3">
            Transfer To
          </th>
          <th scope="col" class="px-6 py-3">
            Amount
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let transaction of transferTransactions">
        <tr class="bg-white border-b border-slate-300">
          <th scope="row" class="px-6 py-4">
            {{transaction.transactionDate}}
          </th>
          <td class="px-6 py-4">
            {{transaction.fromAcct}}
          </td>
          <td class="px-6 py-4">
            {{transaction.toAcct}}
          </td>
          <td
            class="px-6 py-4 text-errorDarkHoverr">
            {{ transaction.transAmount| currency:'NGN': true }}
          </td>
          <td class="px-6 py-4" [ngClass]="{
            'bg-green-500': transaction.transStatus === 'success',
            'bg-red-500': transaction.transStatus === 'failure',
            'bg-yellow-500': transaction.transStatus === 'pending'
          }">
            {{ transaction.transStatus }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>