<div class="row pb-5">
  <div class="col">
    <div class="card">
      <h5 class="card-header border-0 display-5">
        Welcome James
      </h5>
      <div class="card-body">
        <h5 class="card-title">Your Total Balance</h5>
        <p class="card-text fs-3">${{sumOfAccountBalances}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row pb-5">
  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-piggy-bank-fill icon-style"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title">Accounts</h5>
                <p class="card-text fs-3">{{listOfAccounts.length}}</p>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-center">
            <button type="button" class="btn btn-success w-100">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-currency-exchange icon-style"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title">Loans</h5>
                <p class="card-text fs-3">1</p>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-center">
            <button type="button" class="btn btn-success w-100">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-wallet icon-style"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title">Bills</h5>
                <p class="card-text fs-3">1</p>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-center">
            <button type="button" class="btn btn-success w-100">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header border-0 display-5">
        Recent Transactions
      </h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>