<div class="container-fluid px-4">
    <div class="row border-bottom border-2">
        <div class="col">
            <h3 class="pb-3">Account Opening</h3>
        </div>
    </div>
    <div class="row py-4 border-bottom border-2">
        <div class="col-5">
            <h4 class="pb-2 fw-bold">Form</h4>
            <span class="text-muted">
                We are exited on you choosing to open another account
                with us at Handle Money! We appreciate your continued
                trust in using our banking web app.
            </span>
        </div>
        <div class="col-7">
            <label for="accountSelection" class="form-label">Type of account</label>
            <select class="form-select form-select-lg main-background border-3 py-3" id="accountSelection">
                <option selected value="">Select...</option>
                <option value="Checking">Checking</option>
                <option value="Savings">Savings</option>
            </select>
        </div>
    </div>
    <div class="row pt-4 pb-5">
        <div class="col-5">
            <h4 class="pb-2 fw-bold">Agreement</h4>
            <span class="text-muted">
                Please read, review and agree to the 2 terms to enable
                you open another account on Handle Money web app.
            </span>

        </div>
        <div class="col-7">
            <div class="form-check pb-2">
                <input class="form-check-input border-3 py-2 px-2 me-2" type="checkbox" value="true" id="termsCheck">
                <label class="form-check-label mt-1" for="termsCheck">
                    I agree to the Handle Money Terms and Conditions
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input border-3 py-2 px-2 me-2" type="checkbox" value="true" id="privacyCheck">
                <label class="form-check-label mt-1" for="privacyCheck">
                    I consent to the Handle Money Privacy Policy
                </label>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col text-center">
            <button button type="button" class="btn btn-light primary-bg btn-lg w-25"><span class="grey-light">Submit</span></button>
        </div>
    </div>
</div>