<main>
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <i class="bi bi-bank icon-size-md mb-5">&nbsp;<span>Handle Money</span></i>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Welcome Back</h5>
                <div class="alert alert-danger text-center" role="alert" *ngIf="this.errorMessage">
                    {{this.errorMessage}}
                  </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="userNameInput" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userNameInput" formControlName="userName"
                            [ngClass]="{'is-invalid':submitted && loginForm.controls['userName'].errors}">
                        <div *ngIf=" submitted && loginForm.controls['userName'].hasError('required')"
                            class="text-danger">
                            This Field Is Required
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordInput" formControlName="password"
                            [ngClass]="{'is-invalid':submitted && loginForm.controls['password'].errors}">
                        <div *ngIf=" submitted && loginForm.controls['userName'].hasError('required')"
                            class="text-danger">
                            This Field Is Required
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 w-100">Login</button>
                </form>
                <div class="text-center">

                    <p class="card-text">Dont Have An Account? <a routerLink="/register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</main>